@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    --color-accent: oklch(58.5% 0.233 277.117); /*Indigo 500*/ /* #615FFFFF */
    --color-accent-hover: oklch(51.1% 0.262 276.966); /* Indigo 600 */
    --color-secondary: oklch(92.4% 0.032 272.314); /*Indigo 200 */
    --color-background: oklch(0.139 0.031 285.444);
    --color-background-secondary: oklch(25.7% 0.09 281.288); /*Indigo 950 */
    --color-foreground: oklch(96.2% 0.018 272.314); /*Indigo 100 */
    --color-danger: oklch(59.3% 0.201 27.644); /*Red 500 */
}

@theme {
    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-hover);
    --color-foreground: var(--color-foreground);
    --color-background: var(--color-background);
    --color-background-secondary: var(--color-background-secondary);
    --color-secondary: var(--color-secondary);
    --color-danger: var(--color-danger);
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    @apply min-h-screen p-4 pt-20 md:p-8 md:pt-24 lg:p-16 lg:pt-32;
}

.container {
    @apply lg:max-w-6xl md:max-w-4xl sm:max-w-3xl max-w-2xl mx-auto;
}

.text-glow {
    text-shadow: 0 0 5px var(--color-accent), 0 0 10px var(--color-accent), 0 0 20px var(--color-accent);
}

.hover-text-glow:hover {
    text-shadow: 0 0 5px var(--color-accent), 0 0 10px var(--color-accent), 0 0 20px var(--color-accent);
    transition: text-shadow 0.2s ease-in-out;
}

.hover-glow:hover {
    box-shadow: 0 0 5px var(--color-accent), 0 0 10px var(--color-accent), 0 0 20px var(--color-accent);
    transition: box-shadow 0.2s ease-in-out;
}

.btn-1 {
    @apply bg-accent hover:bg-accent-hover text-foreground font-semibold py-2 px-4 rounded-md shadow-md duration-200 hover:shadow-accent active:bg-accent flex items-center justify-center gap-2 cursor-pointer disabled:cursor-not-allowed;
}

.btn-2 {
    @apply bg-background border border-accent-hover rounded-md text-foreground py-2 px-3 focus:border-accent hover:border-accent focus:ring-accent focus:ring-3 active:bg-accent hover:shadow-md duration-200 flex items-center justify-center gap-2 cursor-pointer disabled:cursor-not-allowed;
}

.btn-danger {
    @apply bg-transparent hover:bg-danger text-danger hover:text-foreground font-semibold py-2 px-4 rounded-md shadow-md duration-200 hover:shadow-danger active:bg-transparent active:text-danger flex items-center justify-center gap-2 cursor-pointer disabled:cursor-not-allowed border-danger border;
}

.input-container {
    @apply flex flex-col gap-1;
}

.input-label {
    @apply text-sm font-medium text-secondary flex items-center gap-2;
}

.input-bar {
    @apply bg-background border border-accent-hover rounded-md text-foreground py-2 px-3 focus:border-accent hover:border-accent focus:outline-none focus:ring-accent focus:ring-3 focus:shadow-md focus:shadow-accent duration-200;
}